POSTGRES_DB=gaming_gear_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password-that-you-actually-use
POSTGRES_HOST_PORT=5436
JWT_SECRET_BASE64=secret-random-value-that-must-not-go-to-github
REDIS_HOST=localhost
REDIS_HOST_PORT=6380
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-in-local-env
MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_BUCKET=gaming-gear
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
